@charset "UTF-8";
:root {
  --dominant-font: "Roboto";
  --secondary-font: "Raleway";
  --dominant-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* ============= Reset ============= */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  font-family: var(--dominant-font), sans-serif;
  font-size: 14px;
}

/* ============= Btn =============*/
.btn {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  padding: 10px 32px;
  min-width: 200px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
}
.btn:hover, .btn:focus {
  cursor: pointer;
}
.btn-filter {
  display: block;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  font-family: var(--dominant-font), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  background: #f5f4fa;
  -webkit-transition: color var(--main-transition), background-color var(--main-transition);
  transition: color var(--main-transition), background-color var(--main-transition);
}
.btn-filter:hover, .btn-filter:focus {
  cursor: pointer;
  color: #ffffff;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.btn-form-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.btn-form {
  padding: 10px 55px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--main-transition);
  transition: background-color var(--main-transition);
}
.btn-form:hover, .btn-form:focus {
  cursor: pointer;
  background-color: #188ce8;
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.section__title {
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.section-bg {
  background: #f5f4fa;
}

.section-work {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .section-work {
    display: none;
  }
}

.container {
  width: 100%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* ============= ICONS =============*/
.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.social-link__list:not(:first-child) {
  margin-left: 10px;
}
.social-link__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition: color var(--main-transition), background-color var(--main-transition);
  transition: color var(--main-transition), background-color var(--main-transition);
  color: #afb1b8;
}

/* ============= Current ============= */
a.current-link {
  color: var(--accent-color);
}

.current-link {
  position: relative;
}
@media screen and (min-width: 768px) {
  .current-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    border-radius: 2px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
  }
}

.only-border {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ececec;
}

/* ============= Icons (Fill на иконку при Hovere + Focus) =============*/
.social-link__item:hover,
.social-link__item:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.icon {
  fill: currentColor;
}

.item-footer:hover,
.item-footer:focus {
  background-color: var(--accent-color);
}

.icon-footer {
  fill: currentColor;
}

.logo {
  display: block;
  text-decoration: none;
}

.logo-first {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .logo-first {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-second {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .logo-second {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-second-white {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .logo-second-white {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-footer {
  text-decoration: none;
}
@media screen and (max-width: 1199px) {
  .logo-footer {
    text-align: center;
  }
}

.mobile-menu__btn {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0;
  margin-left: auto;
  padding: 0;
  z-index: 100;
  -webkit-transition: color var(--main-transition);
  transition: color var(--main-transition);
}
@media screen and (min-width: 768px) {
  .mobile-menu__btn {
    display: none;
  }
}

.mobile-menu__open {
  fill: currentColor;
}

.mobile-menu__close {
  opacity: 0;
  fill: currentColor;
}

.mobile-menu__btn.is-open .mobile-menu__open {
  opacity: 0;
  -webkit-transition: var(--main-transition);
  transition: var(--main-transition);
}

.mobile-menu__btn.is-open .mobile-menu__close {
  opacity: 1;
  -webkit-transition: var(--main-transition);
  transition: var(--main-transition);
}

.mobile-menu__btn:hover .mobile-menu__open,
.mobile-menu__btn:hover .mobile-menu__close {
  color: var(--accent-color);
  cursor: pointer;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 0;
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
  background-color: #fff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform var(--main-transition);
  transition: -webkit-transform var(--main-transition);
  transition: transform var(--main-transition);
  transition: transform var(--main-transition), -webkit-transform var(--main-transition);
}
.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__nav-list {
  margin-bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.mobile-menu__nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.mobile-menu__nav-link:hover, .mobile-menu__nav-link:focus {
  cursor: pointer;
}

.mobile-menu__contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.mobile-menu__contact-link--blue {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mobile-menu__contact-link--blue:hover, .mobile-menu__contact-link--blue:focus {
  cursor: pointer;
}

.mobile-menu__contact-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--dominant-color);
}
.mobile-menu__contact-link:hover, .mobile-menu__contact-link:focus {
  cursor: pointer;
}

.mobile-menu__social-list {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mobile-menu__social-link:hover, .mobile-menu__social-link:focus {
  cursor: pointer;
}

.mobile-menu__social-item:not(:last-child) {
  border-right: 1px solid var(--secondary-color);
  padding-right: 10px;
}

/* ============= Секция Поятоянные клиенты =============*/
.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  -webkit-transition: color var(--main-transition), border-color var(--main-transition);
  transition: color var(--main-transition), border-color var(--main-transition);
  color: #afb1b8;
}
.clients__item:hover, .clients__item:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .clients__item {
    width: 210px;
    height: 92px;
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
    height: 92px;
  }
}

.clients__list:hover,
.clients__list:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/* ============= Footer =============*/
.section-footer {
  padding: 60px 0;
}

.adress {
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
  color: #ffffff;
}

.footer-contact-link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-address {
  margin-top: 20px;
  margin-bottom: 8px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-address {
    margin-bottom: 9px;
  }
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
@media screen and (max-width: 1199px) {
  .footer-list > .list {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-list {
    gap: 9px;
  }
}

.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .container-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 1199px) {
  .container-footer1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .container-footer2 {
    margin: 60px 0;
  }
}
@media screen and (min-width: 768px) {
  .container-footer2 {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .container-footer2 {
    margin-left: 70px;
  }
}

.footer-title {
  /*  */
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer-title {
    margin-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-title {
    margin-top: 12px;
    text-align: left;
  }
}

.item-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition: background-color var(--main-transition);
  transition: background-color var(--main-transition);
  color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-footer3 {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .container-footer3 {
    margin-left: auto;
    margin-right: 0;
  }
}

.container-footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
}
@media screen and (max-width: 1199px) {
  .container-footer-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer-label-form {
  display: block;
  outline: none;
}
@media screen and (max-width: 479px) {
  .footer-label-form {
    width: 100%;
    height: 50px;
  }
}
@media screen and (min-width: 480px) {
  .footer-label-form {
    width: 450px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-label-form {
    width: 358px;
    height: 50px;
    margin-right: 12px;
  }
}

.footer-form {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  border-radius: 4px;
  outline: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-btn-form {
  width: 200px;
  position: relative;
  display: block;
  padding: 10px 62px 10px 29px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
}
@media screen and (max-width: 1199px) {
  .footer-btn-form {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.icon-footer-telegram {
  position: absolute;
  top: 13px;
  left: 148px;
}

.footer-btn-form:hover,
.footer-btn-form:focus {
  cursor: pointer;
}

/* ============= Header ============= */
.header {
  position: relative;
}

.mobile_logo {
  padding: 16px 0;
}

.nav-link {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-color);
}

.selection {
  -webkit-transition: color var(--main-transition);
  transition: color var(--main-transition);
}
.selection:hover, .selection:focus {
  color: var(--accent-color);
}

/* ============= nav-contacts ============= */
.contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--dominant-color);
}
@media screen and (min-width: 1200px) {
  .contact-link {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
  }
}

.icon-marg {
  margin-right: 10px;
  fill: currentColor;
}

.contact-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .contact-flex {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 84px;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-flex {
    margin: 0 0 0 305px;
    gap: 30px;
  }
}

/* ============= navigation ============= */
@media screen and (max-width: 767px) {
  .nav-header {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav-header {
    margin: 0 0 0 88px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-header {
    margin: 0 0 0 93px;
  }
}

.nav-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-flex .list {
  margin-right: 50px;
}
.nav-flex .list:last-child {
  margin-right: 0;
}

.section-hero {
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .section-hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-bg,
.footer-bg {
  background-color: #2f303a;
}

.hero-bg {
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main/Hero-sm.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/Hero-sm.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-bg {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main/Hero-sm@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/Hero-sm@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-bg {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main/Hero-md.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/Hero-md.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-bg {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main/Hero-md@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/Hero-md@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-bg {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main/Hero-lg.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/Hero-lg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-bg {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main/Hero-lg@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/Hero-lg@2x.jpg);
  }
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 479px) {
  .hero-title {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .hero-title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

/* ============= Modal>Form window =============*/
.appearance-none {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.title-form {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .title-form {
    line-height: 1.15;
  }
}

.total-form {
  display: block;
}

.label-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 448px;
}

.text-form {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--dominant-color);
}

.container-item-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  margin-bottom: 10px;
}
@media screen and (max-width: 479px) {
  .container-item-form {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .container-item-form {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .container-item-form {
    width: 448px;
  }
}

.input-form {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  border-radius: 4px;
  -webkit-transition: border-color var(--main-transition);
  transition: border-color var(--main-transition);
}

.input-form:focus,
.textarea-form:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.textarea-form:not(:-moz-placeholder-shown) {
  border-color: var(--accent-color);
  cursor: pointer;
}

.textarea-form:not(:-ms-input-placeholder) {
  border-color: var(--accent-color);
  cursor: pointer;
}

.textarea-form:not(:placeholder-shown) {
  border-color: var(--accent-color);
  cursor: pointer;
}

.input-form:focus + .icon-form {
  color: var(--accent-color);
}

.textarea-form {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
}
@media screen and (min-width: 1200px) {
  .textarea-form {
    font-size: 12px;
    line-height: 1.17;
  }
}

.textarea-form::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea-form::-moz-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea-form:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea-form::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea-form::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (min-width: 1200px) {
  .textarea-form::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .textarea-form::-moz-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .textarea-form:-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .textarea-form::-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .textarea-form::placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
}

.icon-form {
  display: block;
  position: absolute;
  top: 14px;
  left: 15px;
  fill: currentColor;
}

.text-form-checkbox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
}
@media screen and (max-width: 479px) {
  .text-form-checkbox {
    display: inline-block;
    text-align: justify;
  }
}
@media screen and (min-width: 480px) {
  .text-form-checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .text-form-checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}

.text-form-blue {
  margin-left: 3px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: rgb(33, 150, 243);
  text-decoration: underline;
}
@media screen and (min-width: 1200px) {
  .text-form-blue {
    font-size: 14px;
    line-height: 1.71;
  }
}

.input-form-checkbox {
  display: block;
  margin-right: 7px;
}

.form-checkbox-custom {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--secondary-color);
  -webkit-transition: background-color var(--main-transition), border var(--main-transition);
  transition: background-color var(--main-transition), border var(--main-transition);
}

.form-checkbox-icon {
  fill: #ffffff;
}

.input-form-checkbox:checked + .form-checkbox-custom {
  background-color: var(--accent-color);
  border: transparent;
}

/* ============= Modal window =============*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  z-index: 1000;
  -webkit-transition: opacity var(--main-transition), visibility var(--main-transition), -webkit-transform var(--main-transition);
  transition: opacity var(--main-transition), visibility var(--main-transition), -webkit-transform var(--main-transition);
  transition: opacity var(--main-transition), visibility var(--main-transition), transform var(--main-transition);
  transition: opacity var(--main-transition), visibility var(--main-transition), transform var(--main-transition), -webkit-transform var(--main-transition);
  -webkit-transform: scale(1);
          transform: scale(1);
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 609px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 479px) {
  .modal {
    width: 100%;
    height: 609px;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  padding: 0;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: color var(--main-transition);
  transition: color var(--main-transition);
}

.modal-close-svg {
  fill: currentColor;
}

.modal-close-btn:hover > .modal-close-svg,
.modal-close-btn:focus > .modal-close-svg {
  color: var(--accent-color);
}

/* ============= Our team ant What we do) =============*/
.workers {
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .workers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .workers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.workers__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 30px;
  text-align: center;
  color: var(--secondary-color);
}
.workers__position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 16px;
  color: var(--dominant-color);
}

.Workers__list {
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 1px rgba(0, 0, 0, 0.12);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
@media screen and (min-width: 480px) {
  .Workers__list {
    width: 450px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .Workers__list {
    width: 354px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .Workers__list {
    width: 270px;
    padding-bottom: 30px;
  }
}

/* ============= Peculiarities Section =============*/
.peculiarities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media screen and (max-width: 1199px) {
  .peculiarities {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 480px) {
  .peculiarities__list {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .peculiarities__list {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .peculiarities__list {
    width: 270px;
  }
}
.peculiarities__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 1px solid #f5f4fa;
}
@media screen and (min-width: 480px) {
  .peculiarities__item {
    width: 450px;
    height: 120px;
  }
}
@media screen and (min-width: 768px) {
  .peculiarities__item {
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .peculiarities__item {
    width: 270px;
    height: 120px;
  }
}
.peculiarities__title {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--secondary-color);
}
.peculiarities__text {
  margin-top: 10px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  color: var(--dominant-color);
}

/* ============= Portfolio =============*/
.portfolio-titles {
  border: 1px solid #eeeeee;
  padding: 0 24px;
  height: 110px;
}
@media screen and (max-width: 479px) {
  .portfolio-titles {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .portfolio-titles {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-titles {
    width: 354px;
    height: 146px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-titles {
    width: 370px;
  }
}

.title-portfolio {
  margin-top: 20px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}

.name-portfolio {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--dominant-color);
}

.container-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .container-filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .btn-filter--marg {
    margin-top: 7px;
  }
}

.container-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .container-portfolio {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .container-portfolio {
    margin-top: 50px;
  }
}
.container-portfolio > .list:hover, .container-portfolio > .list:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.portfolio-overlay {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

@media screen and (min-width: 480px) {
  .portfolio__img {
    width: 450px;
    height: 294px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__img {
    width: 370px;
  }
}

.portfolio-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform var(--main-transition);
  transition: -webkit-transform var(--main-transition);
  transition: transform var(--main-transition);
  transition: transform var(--main-transition), -webkit-transform var(--main-transition);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.container-portfolio .list:hover .portfolio-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.work__list:not(:first-child) {
  margin-left: 30px;
}
.work__list {
  position: relative;
}
.work__box {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 370px;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}
.work__text {
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.03em;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
}/*# sourceMappingURL=main.css.map */