/* ============= Reset ============= */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	// width: 100%;
	height: auto;
}

.list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.flex {
	display: flex;
	align-items: center;
}

// * {
// 	outline: 1px solid tomato;
// }
