:root {
	--dominant-font: "Roboto";
	--secondary-font: "Raleway";

	--dominant-color: #757575;
	--secondary-color: #212121;
	--accent-color: #2196f3;

	--main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
